{% extends 'base.html.twig' %}
    {% block title %}{{ book.title }}{% endblock %}
{% block body %}

    {{ dump(book) }}
    <h1>{{ book.title }}</h1>
    <img src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.title }}">
    <p>Auteur : {{ book.author.fullName }}</p>

    <p>Catégorie : </p>
    <ul>

        {% for category in book.category  %}
            <li>
                <a href="{{ path('category_show', {'id': category.id}) }}">
                    {{ category.name }}
                </a>

            </li>
        {% endfor %}
    </ul>
    <p>Créé le {{ book.createdAt|date('d M Y') }}</p>



    <h2>Livres du même auteur : </h2>
    {% for otherbook in otherbooks %}
        <li>
            <a href="{{ path('book_show', {'slug': ohtherbook.slug}) }}">
                {{ otherbook.title }}
            </a>
        </li>
    {% else %}
        <li>Aucun autre livre</li>
    {% endfor %}

{% endblock %}